<div>
  <strong> <%= comment.commenter %>
  </strong>
  <%= comment.body %>
  <%= link_to 'Delete', article_comment_path(@article.id,comment.id), method: :delete, data: { confirm: 'Are you sure?' } %>

</div>
